<!DOCTYPE html>

{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Grab challenge</title>
	<link href="{% static 'Webpage/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'Webpage/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'Webpage/css/datepicker3.css' %}" rel="stylesheet">
	<link href="{% static 'Webpage/css/styles.css' %}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Grab</span>Challege</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="col-sm-9 col-lg-10 col-lg-offset-1 main">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Real time estimate	
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
						<span class="pull-right panel-toggle panel-button-tab-left" onclick=""><em class="fa fa-refresh"></em></span>
					</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<div>
					 		 	<h4>Please Choose a district</h4>
							</div>

							<form>
								<fieldset>
								    <label>Cities</label>
								    <select id="myCity" name="myCity" onchange="changeMap(this.value)">
										<option value="None">Select a City</option>
										<option value="upp-es">Upper east side - Manhattan</option>
								    </select>
								</fieldset>
							</form>

							<div>
								<h4>Surge Price : </h4>
								<h4>Average speed : </h4>
							</div>
							<div id="map" style="height:350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Vehicles
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
						<span class="pull-right panel-toggle panel-button-tab-left" onclick=""><em class="fa fa-refresh"></em></span>
					</div>
					<div class="panel-body">
						<div>
							<form>
								Start &nbsp: 	<input type="text" name="start-time" placeholder="YYY-MM-DD" size="15"> 
												<input type="text" name="start-time" placeholder="HH:MM:ss" size="15">
												<br><br>
								End &nbsp&nbsp: <input type="text" name="end-time" placeholder="YYY-MM-DD" size="15"> 
												<input type="text" name="end-time" placeholder="HH:MM:ss" size="15">
												<br><br>
							</form>
						</div>

						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="400px" width="500px"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Avg speed
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
						<span class="pull-right panel-toggle panel-button-tab-left" onclick=""><em class="fa fa-refresh"></em></span>
					</div>

					<div class="panel-body">
						<div>
							<form>
								Start &nbsp: 	<input type="text" name="start-time" placeholder="YYY-MM-DD" size="15"> 
												<input type="text" name="start-time" placeholder="HH:MM:ss" size="15">
												<br><br>
								End &nbsp&nbsp: <input type="text" name="end-time" placeholder="YYY-MM-DD" size="15"> 
												<input type="text" name="end-time" placeholder="HH:MM:ss" size="15">
												<br><br>
							</form>
						</div>

						<div class="canvas-wrapper">
							<canvas class="main-chart" id="bar-chart" height="350px" width="500px"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Weather
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>
						<span class="pull-right panel-toggle panel-button-tab-left" onclick=""><em class="fa fa-refresh"></em></span>
					</div>

					<div class="panel-body">
						<div>
							<form>
								Start &nbsp: 	<input type="text" name="start-time" placeholder="YYY-MM-DD" size="15"> 
												<br><br>
								End &nbsp&nbsp: <input type="text" name="end-time" placeholder="YYY-MM-DD" size="15"> 
												<br><br>
							</form>
						</div>

						<div class="canvas-wrapper">
							<canvas class="main-chart" id="weather-chart" height="350px" width="500px"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->		
	</div>	<!--/.main-->
	  

	<script src="{% static 'Webpage/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'Webpage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'Webpage/js/chart.min.js' %}"></script>
	<script src="{% static 'Webpage/js/chart-data.js' %}"></script>
	<script src="{% static 'Webpage/js/easypiechart.js' %}"></script>
	<script src="{% static 'Webpage/js/easypiechart-data.js' %}"></script>
	<script src="{% static 'Webpage/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'Webpage/js/custom.js' %}"></script>
	<script src="{% static 'Webpage/js/maps.api.js' %}" ></script>
	<script>

	var map;

	function changeMap(city) {
	  var c = coords[city].split(',');
	  map.setCenter(new google.maps.LatLng(c[0], c[1]));
	}

	var coords = {
		'upp-es': '40.7736,-73.9566',
	};

	function myMap() {
		var mapCanvas = document.getElementById("map");
		var mapOptions = {  
			center: new google.maps.LatLng(40.685646, -76.195499), 
			zoom: 15 
		};
		map = new google.maps.Map(mapCanvas, mapOptions);
	}

	window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		// console.log(demandAndSupplyData['labels'].push('asdasd'));
		window.myLine = new Chart(chart1).Line(demandAndSupplyData, {
			responsive: true,
			scaleLineColor: "rgba(0,0,0,.2)",
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleFontColor: "#c5c7cc"
		});
		
		var chart2 = document.getElementById("bar-chart").getContext("2d");
		window.myBar = new Chart(chart2).Line(barChartData, {
			responsive: true,
			scaleLineColor: "rgba(0,0,0,.2)",
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleFontColor: "#c5c7cc"
		});

		// Plot the map using Google API
		myMap();
	};
	</script>	
</body>
</html>
